h1 {
    background-color: gray;
    color: white;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
}

body {
    background-color: lightgray;
    color: darkblue ;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

p {
    font-size: 20px;
}